@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");
@import "tailwindcss";

html {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 5px;
}


